<div class="tabs">
  <a href="{{ url_for('settings_page') }}" class="{{ 'on' if request.endpoint == 'settings_page' }}">{{ _("Общие") }}</a>
  <a href="{{ url_for('companies_page') }}" class="{{ 'on' if request.endpoint == 'companies_page' }}">{{ _("Компании") }}</a>
  <a href="{{ url_for('ai_settings_page') }}" class="{{ 'on' if request.endpoint == 'ai_settings_page' }}">{{ _("ИИ") }}</a>
  <a href="{{ url_for('auth.users') }}" class="{{ 'on' if request.endpoint == 'auth.users' }}">{{ _("Пользователи") }}</a>
</div>
